.header {
  padding: 1rem 0;
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
      .navLink {
        color: $primary-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
